<h2>Click country for more information</h2>




<table>
    <tr>
    	<th>Name</th>
    	<th>Country Code</th> 
    	<th>Capital</th>
    	<th>Area in km2</th>
    	<th>Population</th>
    	<th>Continent Code</th>
    </tr>
    
    <tr ng-repeat="country in vm.countries" ng-click="vm.showCountry(country)">
       	<td>{{country.countryName}}</td>
        <td>{{country.countryCode}}</td>
        <td>{{country.capital}}</td>
        <td>{{country.areaInSqKm | number}}</td>
        <td>{{country.population | number}}</td>
        <td>{{country.continent}}</td>
    </tr>                      
</table>	



<form action="#!/">
<button class="gohome">Home</button>
</form>